[Desktop Entry]
Type=Application
Name=Tmux Tabbed Terminal
GenericName=Terminal
Comment=Switch between your tmux sessions in a GNOME Terminal style window
Keywords=shell;prompt;command;commandline;cmd;tmux;terminal;session;
Exec=tmux-tabbed-terminal
Icon=io.github.wrouesnel.TmuxTabbedTerminal
Terminal=false
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
StartupWMClass=tmux-tabbed-terminal
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=tmux-tabbed-terminal
